/*Global styles*/

/*Remove hyperlink colouring*/
a, a:visited, a:hover, a:active {
    color: inherit;
}

::placeholder {
    color: white !important;
}

/*Dashboard and global component styles */

.pageTitle {
    color: white;
    text-align: center;
    margin-bottom: 7em;
    margin-top: 1em;
}

.pageTitleSignUp {
    color: white;
    text-align: center;
    margin-bottom: 4em;
    margin-top: 1em;
}

.registerTitle {
    color: white;
    text-align: center;
    margin-bottom: 1em;
}

.form-control {
    color: white !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: solid !important;
    margin-bottom: 3em;
}

.loginContainer, .registerContainer {
    margin-bottom: 2em;
}

.dashContainer {
    margin-top: 1em;
    height: 90vh;
}

.dashGreeting {
    color: white;
    font-size: 4em;
}

.titleRow {
    height: 20%;
    margin: 1em;
}

.contentRow {
    height: 40%;
}


.btn-custom {
    background-color: #fdfd96 !important;
    width: 25% !important;
}

.signup {
    font-size: x-large;
    color: white;
}

.contentBox {
    width: 20rem !important;
    height: 15rem !important;
    border-style: solid !important;
    border-color: #fdfd96 !important;
    overflow: hidden;
    background: rgba(218, 223, 225, 0.5) !important;
}

/*Styles relating to image presentation */
.newsExtendedImg {
    max-width: 40%;
}

.imageList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galleryBox {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.photoBox {
    width: 20rem !important;
    height: 15rem !important;
    border-style: solid !important;
    border-color: #fdfd96 !important;
    overflow: hidden;
    background: rgba(218, 223, 225, 0.5) !important;

}

.photoBox > img {
    width: 50%;
    height: 50%;

}
