/*Component styles*/

.pageTitle {
    color: white;
    text-align: center;
    margin-bottom: 7em;
    margin-top: 1em;
}

.pageTitleSignUp {
    color: white;
    text-align: center;
    margin-bottom: 4em;
    margin-top: 1em;
}

.registerTitle {
    color: white;
    text-align: center;
    margin-bottom: 1em;
}

.form-control {
    color: white !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: solid !important;
    margin-bottom: 3em;
}

::placeholder {
    color: white !important;
}
/*
:link {
    color: white !important;

}*/

.loginContainer, .registerContainer {
    margin-bottom: 2em;
}

.dashContainer {
    margin-top: 1em;
    height: 90vh;
}

.dashGreeting {
    color: white;
    font-size: 4em;
}

.titleRow {
    height: 20%;
    margin: 1em;
}

.contentRow {
    height: 40%;
}


.btn-custom {
    /*background-color: #fdfd96 !important;*/
    width: 25% !important;
}

.signup {
    font-size: x-large;
    color: white;
}

.newsExtendedImg {
    max-width: 40%;
}

/*Remove hyperlink colouring*/
a, a:visited, a:hover, a:active {
    color: inherit;
  }

.imageList {
    display: 'flex';
    flex-wrap: 'wrap';
    justify-content: 'center';
}

.contentBox {
    width: '20rem';
    height: '15rem';
    border-style: 'solid';
    border-color: '#fdfd96';
    border-width: '2px';
    overflow: hidden;
}
