/*Component styles*/

.pageTitle {
    color: white;
    text-align: center;
    margin-bottom: 7em;
    margin-top: 1em;
}

.pageTitleSignUp {
    color: white;
    text-align: center;
    margin-bottom: 4em;
    margin-top: 1em;
}

.registerTitle {
    color: white;
    text-align: center;
    margin-bottom: 1em;
}

.form-control {
    color: white !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: solid !important;
    margin-bottom: 3em;
}

::placeholder {
    color: white !important;
}

:link {
    color: white !important;

}

.loginContainer, .registerContainer {
    margin-bottom: 2em;
}

.dashContainer {
    margin-top: 1em;
    height: 90vh;
}

.dashGreeting {
    color: white;
    font-size: 4em;
}

.titleRow {
    height: 20%;
    margin: 1em;
}

.contentRow {
    height: 40%;
}


.btn-custom {
    background-color: #fdfd96 !important;
    width: 15% !important;
}

.signup {
    font-size: x-large;
    color: white;
}

